* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D9D9D9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.cabecalho {
    float: right;
}

.nomeusuario {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: darkslategrey;
    font-weight: 500;
}

main {
    height: auto;
    width: 785px;
    background-color: #F5F5F5;
    margin-top: 100px;
    padding: 15px;
}

main h1 {
    font-size: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid ;
    font-weight: 100;

}

main a {
    padding-bottom: 10px;
    text-decoration: none;
    color: #2186FD;
}

form label {
    margin: auto;
    font-size: 14px;
}

.obg {
    color: red;
}

form input {
    width: 298px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #A1A1A1;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 15px;
}

form span{
    font-size: 12px;
    color: red;
}

#btn {
    background-color: #2186FD;
    width: 88px;
    height: 35px;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    padding: 0px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: -5px;
    
}

#btn:hover {
    background-color:#60aaff;
    
}

#btnsair {
    background-color: #f12626;
    width: 88px;
    height: 35px;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    padding: 0px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: -5px;
    
}



.salvar {
    
    display: flex;
    
    float: right;
     
}

.filtro{
    display: flex;
    align-items:center; 
    justify-content: space-between;
    
}

#ID input{
    width: 102px;

}

#filtroInput input {
    width: 260px;
}

.Tabela {
    
    background-color: #ffffff;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.Tabela tr {
    height: 30px;
    border-top: 1px solid #5f6e82;
}

.Tabela tbody {
    font-size: 14px;
    
    text-align :center;
}

.icone-container {
    display: flex;
    justify-content: center;
}

.icone {
    width: 12px;
    height: 12px;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
}

#icone{
    width: 18px;
    height: 18px;
    margin-top: 6px;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;

}

.top {
    display: flex;
    justify-content: space-between;
}

